<?xml version="1.0" encoding="UTF-8"?>
<suite name="All Test Suite">
    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
                <exclude name="regress"/>
            </run>
        </groups>
        <classes>
            <class name="tests.SimpleTestNGTests"/>
        </classes>
    </test>
    <test name="Parametrized Tests">
        <classes>
            <class name="tests.ParametrizedTests"/>
        </classes>
    </test>
</suite>